[gcode_macro PRINT_START]
gcode:
    {% set BED_TEMP      = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(195)|float %}
    {% set INITIAL_TOOL  = params.TOOL|default(0)|int %}

    G90
    M83
    M140 S{BED_TEMP}
    M104 S150
    M190 S{BED_TEMP}
    G28
    M109 S{EXTRUDER_TEMP}
    AFC_BRUSH
    G28
    G1 X100 Y100 F3000
    PROBE METHOD=tap

    BED_MESH_CLEAR
    BED_MESH_CALIBRATE METHOD=scan
    AFC_PARK
    T{INITIAL_TOOL}
    LINE_PURGE

#====================================================================
# PRINT END
#====================================================================
[gcode_macro PRINT_END]
gcode:
    M400                          ; wait for moves to finish
    M220 S100                     ; reset speed
    M221 S100                     ; reset flow
    TOOL_UNLOAD                   ; unload filament back to BoxTurtle
    G91                           ; relative positioning
    G1 E-2 F300                   ; small retract
    G90                           ; absolute positioning
    G1 Z150 F3000                 ; raise Z high
    G1 X110 Y220 F9000            ; push bed forward and center X
    M104 S0                       ; turn off hotend
    M140 S0                       ; turn off bed
    BED_MESH_CLEAR
    M84                           ; disable motors
    M117 Print Complete!