#====================================================================
# EBB SB2209 RP2040 TOOLHEAD
#====================================================================
[mcu EBBCan]
canbus_uuid: 964c1fdc7bc2

#====================================================================
# TEMPERATURE SENSORS
#====================================================================
[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

#====================================================================
# EXTRUDER TMC
#====================================================================
[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.650
stealthchop_threshold: 999999

#====================================================================
# FANS
#====================================================================
[fan]
pin: EBBCan:gpio13

[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0

#====================================================================
# ADXL345 - INPUT SHAPER
# Uncomment [resonance_tester] when doing input shaping
#====================================================================
[adxl345 hotend]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

#[resonance_tester]
#probe_points: 110, 117, 20
#accel_chip: adxl345 hotend